
.enabled {
    display: block;
}

.disabled {
    display: none;
}

.secondPage {
    display: flex;
    justify-content: center;
    padding-block: 4rem;
    height: 100%;    
}

.rules {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images {
    flex-direction: column;
    padding: 1rem;
}

.book img {
    width: 5.9rem;
    height: 5.9rem;
}

.notebook img {
    width: 5.9rem;
    height: 5.9rem;
}

.girl img {
    max-width: 21.8rem;
    max-height: 21.8rem;
}

.player {
    color: rgba(199, 226, 192, 1);
    text-shadow: 0px 4px 4px rgba(0, 115, 173, 1);
    font-size: 4.6rem;
}

.gameRules {
    display: flex;
    margin: 1rem;
    padding-inline: 2rem;
    padding-block-end: 2rem;
    border-radius: 0.6rem;
    background-color: rgba(255, 255, 255, 0.39);
}

.title {
    font-family: 'Luckiest Guy', cursive;
    color: rgba(224, 130, 19, 1);
    text-align: center;
    font-size: 3rem;
    margin-block-end: 2rem;
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.56rem;
    list-style-type: circle;
}

.rule1 {
    color: rgba(15, 126, 39, 1);
}

.rule2 {
    color: rgba(167, 63, 192, 1);
}

@media screen and (max-width : 965px){
    .secondPage {
        display: flex;
        flex-wrap: wrap-reverse;
    }

}

@media screen and (max-width : 565px) {
    .gameRules {
        margin: 0;
        padding: 0;
    }
    
    .secondPage {
        padding-inline: 2rem;
    }
    
    ol {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 2.5rem;
    }

    li {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1.56rem;
    }
}