@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive; 
}

<<<<<<< HEAD
main, .primeraPantalla, .segundaPantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
=======
.App {
    width: 640px;
    height: 640px;
    display: flex;    
>>>>>>> Rama-Pamela
}

/*------Primera Pantalla-----*/
.img h1{
    font-size: 35px;
    color: white;
    text-align:center;
    position: relative;  
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);  
}


<<<<<<< HEAD
=======
.input{
    width: 100%;
    padding: 90px;
    background-color: #E7C515;
    text-align: center;   
}

h2{
    font-size: medium;
    right: 30px;  
}
>>>>>>> Rama-Pamela

.name{
    border-radius: 10px;
    border-radius: none;
    width: 20%;
    height: 45px;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    font-size: 15px;
}

.input{
    width: 100%;
    padding: 90px;
    background-color: #E7C515;
    text-align: center;   
}

.boton{
    background-color: red;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
#botonAJugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.boton:hover{
<<<<<<< HEAD
    background-color: rgb(216, 69, 69);
   
}

=======
    background-color: rgb(216, 69, 69);  
}
>>>>>>> Rama-Pamela

/*------Segunda Pantalla-----*/
header {
    position: relative;
<<<<<<< HEAD
    height: 10%;
    text-align: center;   
}

=======
    height: 100%;
    text-align: center;   
}

main {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)),url('imagenes/pro.jpeg');
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* background-image: url('imagenes/pro.jpeg');*/   
}

>>>>>>> Rama-Pamela
h2{
    font-size:45px;
    color: red;
    background-repeat: repeat;
    margin-top: 40px;
}

<<<<<<< HEAD
.tableroPuntaje ul {
    width: 430px;
=======
ul {
    width: 550px;
>>>>>>> Rama-Pamela
    height: 60px;
    background-color:#E7C515;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    margin: auto;
}

#root {
    width: 100%;
    align-items: center;
    
    
}

#App{
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*background-color: bisque;*/
     position: relative;
     margin: auto;
   
}


.cardBoard {
    width: 500px;
  
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 183, 183);
    border-radius: 10px;
    
}
.memoryCard {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

div .memoryCard {
    background-image: url("https://www.seekpng.com/png/full/304-3047371_coding-icon-programming-signs.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.front-face {
    width: 80px;
    height: 80px;
    
    position: absolute;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;

    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
}

.flip {
    transform: rotateY(180deg);
}

.segundaPantalla{
    display:none;
}

#div-boton{
 
    
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.25);
    position: absolute;
    /*transform: scale(0);
    transition: transform .3s;*/
    border-radius: 10px;
    
}

.jugar{
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    
}
#jugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.jugar:hover{
    background-color: rgb(216, 69, 69);
   
}


.vModal{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    
    /*transform: scale(0);
    transition: transform .3s;*/
    display:none;
}

.modal-content{
    width: 40vw;
    height: 70vh;
    padding: .2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E7C515;
    margin: auto;
    margin-top:10%;
     
}

.btn-volver{
    background-color: red;
    width: 150px;
    height: 45px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    text-align: center;
}

.btn-volver {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn-volver:hover{
    background-color: rgb(216, 69, 69);
   
}
/*.img{
    margin-left: 25%;
}*/



















/*.modal{
    display:none;
    position:fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E7C515;
=======
}

div .cardBoard{
    width: 640px;
    height: 600px;
    margin: 10px;
    padding: 30PX;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    background-color: rgb(187, 181, 181);
   /*background-color: rgb(173, 183, 183);*/
}

 div .memoryCard {
    width: calc(20% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    transform-style: preserve-3d;
    transition: transform .5s;
    position: relative;     
}

 div .memoryCard:active{
    transform: scale(0.97);  
}

 div .memoryCard.flip{
    transform: rotateY(180deg);
}

.front-face,
.back-face{
    width: 100%;
    height: 100%;
    background: red;
    padding: 8px;
    display: flex;
    border-radius: 10px;
    position: absolute;
    backface-visibility: hidden;
>>>>>>> Rama-Pamela
}

.modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    margin: 5%;
    border-radius: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;   
}



<<<<<<< HEAD

.boton2{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
  
    text-align: center;
    font-size: 18px;
    position:absolute;
}

#Jugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.boton2:hover{
    background-color: rgb(216, 69, 69);
   
}*/

















/*

.reset-btn{
    background: #000;
}

.modal{
    display:none;
    position:fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E7C515;
}

.modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    margin: 5%;
    border-radius: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;   
}
.close{
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.closer:hover,
.close:focus{
    color:#5cf;
    text-decoration: none;
    cursor:pointer;
}
.modal.img{
    display:inline-block;
    margin: 1em 0 1em;
    width: 20em;
}
p.stats{
    font-weight: 600;
}
p.stats:last-child{
    margin-bottom: 1em;
}
.play-again-btn{
    background:#28e;
    margin-bottom: 1em;
}*/






/*@media (max-width: 600px) {
  
=======
@media (max-width: 600px) {
    
    
    ul {
        width: 450px;
        height: 60px;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }
    div .cardBoard{
        width:70%;
        height:70%; 
        display: flex; 
        justify-content: center;
    }
>>>>>>> Rama-Pamela
    div .memoryCard {
        width: calc(30% - 10px);
        height: calc(30% - 10px);
        
    }
    .img h1{
        width: 10%;
    }
    .name{
        width: 90%;
        height: 35px;
        font-size:15px;
        margin: 20px;
    }
}

@media  (max-width: 375px) {
  
    ul {
        width: 350px;
        height: 60px;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }
    div .cardBoard{
        width: 65%;
        height: 65%; 
        display: flex;
     
        
    }
    div .memoryCard {
        width: calc(30% - 10px);
        height: calc(30% - 10px);
        display: flex;
      
       
    }
    .img h1{
        display: flex;
        width: 10%;
    }
   

    .name{
        width: 100%;
        height: 35px;
        font-size:15px;
        margin: 20px;
    }
}


  /*  <section>
    <div id="root"></div>
  </section>
  <!--Ventana Modal-->
  <section class="win-game-modal">
    <div id="modal" class="modal">
      <!--Contenido de Ventana Modal-->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Ganaste!!!</h2>
      <p>Puntuación:</p>
      <p>Tiempo:</p>
      <img class="modal-img" src="imagenes/snoopy.gif" alt="snoopy">
      <button class="btn play-npmagain-btn">Volver a jugar</button>
    </div>
    </div>

  </section>*/