@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    height: 5vh;
    background-color: #E7C515;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.primeraPantalla, .segundaPantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    /* height: 95vh; */
}
/*------Primera Pantalla-----*/
.blockImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 55vh;
}

.blockInputName{
    width: 100vw;
    height: 40vh;
    padding: 5rem;
    background-color: #E7C515;
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 2rem;
    color: white;
    text-align:center;
    position: absolute;
    top: 50%;
}

.inputName{
    border-radius: 0.6rem;
    width: 170px;
    height: 40px;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#botonAJugar{
    background-color: red;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
}

#botonAJugar:hover{
    background-color: rgb(216, 69, 69);
    cursor: pointer;
}

/*------Segunda Pantalla-----*/
header {
    position: relative;
    height: 10%;
    text-align: center;   
}

h2{
    font-size:45px;
    color: red;
    margin-top: 40px;
}

.tableroPuntaje ul {
    width: 430px;
    height: 60px;
    background-color:#E7C515;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#root {
    width: 100%;
    align-items: center;
}

#App{
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto; 
}

.cardBoard {
    width: 500px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 183, 183);
    border-radius: 10px;
}

.memoryCard {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

div .memoryCard {
    background-image: url("https://www.seekpng.com/png/full/304-3047371_coding-icon-programming-signs.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.front-face {
    width: 80px;
    height: 80px;
    position: absolute;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);  
}

.flip {
    transform: rotateY(180deg);
}

.segundaPantalla{
    display:none;
}

#div-boton{
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.25);
    position: absolute;
    border-radius: 10px;
}

.jugar{
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 5px;
    text-align: center;  
}

#jugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.jugar:hover{
    background-color: rgb(216, 69, 69);
}

.vModal{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    display:none;
}

.modal-content{
    width: 40vw;
    height: 70vh;
    padding: .2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E7C515;
    margin: auto;
    margin-top:10%;  
}

.btn-volver{
    background-color: red;
    width: 150px;
    height: 45px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    text-align: center;
}

.btn-volver {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.btn-volver:hover{
    background-color: rgb(216, 69, 69);
}