@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

footer {
    width: 100%;
    height: 5vh;
    background-color: #E7C515;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}

.primeraPantalla,
.segundaPantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* width: 100vw; */
    /* height: 95vh; */
}

/*------Primera Pantalla-----*/
.blockImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 55vh;
}

.blockInputName {
    width: 100vw;
    height: 40vh;
    padding: 5rem;
    background-color: #E7C515;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
}

.inputName {
    border-radius: 10px;
    width: 55vw;
    height: 40px;
    text-align: center;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#botonAJugar,
.btn-volver {
    background-color: red;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin: 0.5rem;
    color: rgb(255, 255, 255);
}

#botonAJugar:hover {
    background-color: rgb(216, 69, 69);
    cursor: pointer;
}

/*------Segunda Pantalla-----*/

#div-boton {
    width: 100%;
    height: 120vh;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0,0,0,.25); */
    background-color: rgba(34, 34, 34, 0.705);
    position: absolute;
    top: 0;
    /* border-radius: 10px; */
}

h2 {
    font-size: 2.5rem;
    color: red;
    margin: 1.2rem;
    text-align: center;
}

.tableroPuntaje ul {
    width: 250px;
    height: 7vh;
    background-color: rgb(231, 197, 21);
    border-radius: 10px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#App {
    height: 100vh;
    /* position: relative; */
    margin: 1rem;
}

.cardBoard {
    width: 85vw;
    /* height: 95vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(173, 183, 183); */
    background-color: rgb(114, 117, 117);
    border-radius: 10px;
    margin: auto;
}

.memoryCard {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

div .memoryCard {
    background-image: url("https://www.seekpng.com/png/full/304-3047371_coding-icon-programming-signs.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}

.front-face {
    width: 80px;
    height: 80px;
    position: absolute;
    padding: 0.3rem;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.flip {
    transform: rotateY(180deg);
}

.segundaPantalla {
    display: none;
}


.jugar {
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.jugar:hover {
    background-color: rgb(216, 69, 69);
}

.vModal {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    display: none;
    padding: 1rem;
}

.modal-content {
    width: 55vw;
    height: 70vh;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7C515;
    border-radius: 10px;
    margin: 5rem auto;

}

/* .btn-volver{
    background-color: red;
    width: 150px;
    height: 45px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    text-align: center;
} */

/* .btn-volver {
    text-decoration: none;
    color: rgb(255, 255, 255);
} */

.btn-volver:hover {
    background-color: rgb(216, 69, 69);
}

/* Tables */
@media screen and (min-width: 600px) {

    .memoryCard, .front-face {
        width: 90px;
        height: 90px;
    }
    .cardBoard {
        width: 80vw;
        /* height: 65vh;  */
    }
    h1 {
        font-size: 2.5rem;
    }
    .inputName {
        width: 35vw;
    }
    img {
        height: 90%;
    }
    .modal-content {
        height: 60vh;
        margin: 6rem auto; 
    }
    .modal-img {
        width: 70%;
    }

}

/* Desktop */
@media screen and (min-width: 768px) {

    .inputName {
        width: 20vw;
    }

    .cardBoard {
        width: 40vw;
        margin-top: 2rem;
    }

    .modal-content {
        width: 40vw;
        height: 75vh;
        margin: 4.7rem auto; 
    }
    .modal-img {
        height: 50%;
    }
    #saludoUsuario {
        margin-top: 2.5rem;
    }


}