@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
    
}

main, .primeraPantalla, .segundaPantalla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

/*------Primera Pantalla-----*/
.img h1{
    font-size: 35px;
    color: white;
    text-align:center;
    position: relative;  
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);  
}



.name{
    border-radius: 10px;
    border-radius: none;
    width: 20%;
    height: 45px;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    font-size: 15px;
}

.input{
    width: 100%;
    padding: 90px;
    background-color: #E7C515;
    text-align: center;   
}

.boton{
    background-color: red;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}
#botonAJugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.boton:hover{
    background-color: rgb(216, 69, 69);
   
}


/*------Segunda Pantalla-----*/
header {
    position: relative;
    height: 10%;
    text-align: center;   
}

h2{
    font-size:45px;
    color: red;
    margin-top: 40px;
}

.tableroPuntaje ul {
    width: 430px;
    height: 60px;
    background-color:#E7C515;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

#root {
    width: 100%;
    align-items: center;
    
    
}

#App{
    width: 700px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*background-color: bisque;*/
     position: relative;
     margin: auto;
   
}


.cardBoard {
    width: 500px;
  
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 183, 183);
    border-radius: 10px;
    
}
.memoryCard {
    width: 80px;
    height: 80px;
    border: 1px solid rgb(50, 50, 60);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;

}

div .memoryCard {
    background-image: url("https://www.seekpng.com/png/full/304-3047371_coding-icon-programming-signs.png");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.front-face {
    width: 80px;
    height: 80px;
    
    position: absolute;
    justify-content: center;
    align-content: center;
    backface-visibility: hidden;

    transform: rotateY(180deg);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    
}

.flip {
    transform: rotateY(180deg);
}

.segundaPantalla{
    display:none;
}

#div-boton{
 
    
    width: 100%;
    height: 100vh;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.25);
    position: absolute;
    /*transform: scale(0);
    transition: transform .3s;*/
    border-radius: 10px;
    
}

.jugar{
    background-color: red;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    
}
#jugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.jugar:hover{
    background-color: rgb(216, 69, 69);
   
}


.vModal{

    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    
    /*transform: scale(0);
    transition: transform .3s;*/
    display:none;
}

.modal-content{
    width: 40vw;
    height: 70vh;
    padding: .2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#E7C515;
    margin: auto;
    margin-top:10%;
     
}

.btn-volver{
    background-color: red;
    width: 150px;
    height: 45px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    text-align: center;
}

.btn-volver {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.btn-volver:hover{
    background-color: rgb(216, 69, 69);
   
}
/*.img{
    margin-left: 25%;
}*/



















/*.modal{
    display:none;
    position:fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E7C515;
}

.modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    margin: 5%;
    border-radius: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;   
}




.boton2{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
  
    text-align: center;
    font-size: 18px;
    position:absolute;
}

#Jugar {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.boton2:hover{
    background-color: rgb(216, 69, 69);
   
}*/

















/*

.reset-btn{
    background: #000;
}

.modal{
    display:none;
    position:fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #E7C515;
}

.modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#fff;
    margin: 5%;
    border-radius: 0.8em solid #fc4;
    padding-right: 2em;
    width: 80%;   
}
.close{
    align-self: flex-end;
    color: #28e;
    font-size: 5em;
}

.closer:hover,
.close:focus{
    color:#5cf;
    text-decoration: none;
    cursor:pointer;
}
.modal.img{
    display:inline-block;
    margin: 1em 0 1em;
    width: 20em;
}
p.stats{
    font-weight: 600;
}
p.stats:last-child{
    margin-bottom: 1em;
}
.play-again-btn{
    background:#28e;
    margin-bottom: 1em;
}*/






/*@media (max-width: 600px) {
  
    div .memoryCard {
        flex: 100%;
    }
    .img h1{
        width: 10%;
    }
    .name{
        width: 10%;
        height: 35px;
        font-size:5px;
    }

}

@media  (max-width: 375px) {
  
    div .memoryCard {
        flex: 50%;
    }
    .front-face  {
        display: flex;
        width: 25%;
        margin: 2px;
        padding: 2px;  
    }
    .img h1{
        display: flex;
        width: 10%;
    }
    .input{
        width: 100%;
        padding: 45px;
       
    }

    .name{
        display: flex;
        width: 10%;
        height: 35px;
        font-size:5px;
    }*/



  /*  <section>
    <div id="root"></div>
  </section>
  <!--Ventana Modal-->
  <section class="win-game-modal">
    <div id="modal" class="modal">
      <!--Contenido de Ventana Modal-->
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Ganaste!!!</h2>
      <p>Puntuación:</p>
      <p>Tiempo:</p>
      <img class="modal-img" src="imagenes/snoopy.gif" alt="snoopy">
      <button class="btn play-npmagain-btn">Volver a jugar</button>
    </div>
    </div>

  </section>*/